
body{
  background: #333333;
}
#main{
  min-height: 100vh;
  background: #333333;
}
#heading{
  color: #f7f7f7;
}
.App {
  text-align: center;
  display: flex;
  /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr; */
  /* grid-gap: 30px; */
  flex-wrap: wrap;
  padding: 30px;

}

.App > div {
  display: inline-block;
  box-shadow: 0 0 10px 2px #0003;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 30px;
  width: 250px;
  /* position: relative; */
  /* background: rgba(81, 206, 123, 0.8);*/
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); 
  /* background: rgba(238, 255, 238,0.89); */
}

.App p {
  display: inline-block;
  margin: 20px 20px;
  font-size: 1.2rem;

}

.nm{
  /* width: 50%; */
  text-align: left;
  /* font-weight: bold; */
}
.nm::first-letter{
  text-transform: capitalize;
  font-size: 1.1em;
}
.pr{
  /* float: right; */
  width: 20%;
  color: #555;
  font-weight: bold;
}

.button{
  padding: 0.5rem 1rem;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  color: #333333;
  transition: all .2s;
  border-radius: 10px;
  /* border:2px solid   #55c57a; */
  background: #eef3ee;
  display: inline-block;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  transition: all .2s; 
}
.button:hover {
  background-color: #333;
  /* border:1px solid  #f7f7f7; */
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
 }

.Sort{
  border: none;
  color: #f7f7f7;
}
.App .button{
  display: inline-block;
  margin-top:10px; 
}

.Nav .button{
  /* background: #000; */
  font-family: "Lato", sans-serif;
  background: #333333;
  text-align: center;
  font-size: 2.3vh;
  line-height: 1.5rem;
}

.rec{
  /* text-align: center; */
  width: 30%;
  /* position: relative; */
  margin: 0px auto;
  /* background:  #efe; */
   background-image: linear-gradient(to right , #7ed56f, #28b485); 
  padding: 30px;
}

.buts{
  left: 75%;
  color: #777;
  /* position: relative; */
}

.det{
  display: inline-block;
  /* float: left; */
  margin:10px;
}
.tot{
  float: right;
  margin:10px;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #55c57a;
}
.In{
  /* justify-content: center; */
  border-radius: 6px;
  cursor: text;
  /* z-index: +1; */
  background-color:    #55c57a;
  border: 2px solid rgba(0, 0, 0, 0.658);
  font-size: 1.2rem;
  /* border-right: 0px;
  border-left: 0px;
  border-top: 0px; */
}
.Nav {
  color: white;
  height:50px;
  display: grid;
  grid-template: 1fr / 5fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 20px 10px;
  /* background-color: #55c57a; */
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  vertical-align: auto;
}
h3,h2{
  text-align: center;
}
.x{
  width:100px;
  margin: 10px auto;
  text-align: center;
  color: #eee;
  margin: 20px auto;
}
.xbtn{
  margin: 0 auto;
  color: #777;
  display: block;
  text-align: center;
  width: 70px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* #cart{
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); 

} */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }